/**
*
* {{ properCase name }} Stateless Component
*
*/

import React from 'react';

const {{ properCase name }} = () => {
  return <div>
    Content Here For {{ properCase name }} Stateless Component
  </div>
}

export default {{ properCase name }};
